In [2]:
import pandas as pd

df_glucose = pd.read_csv('BG.csv', low_memory=False)
df_glucose['Glucose'] = df_glucose['Scan Glucose mmol/l'].combine_first(df_glucose['Historische glucose mmol/l'])
df_glucose['Glucose'] = pd.to_numeric(df_glucose['Glucose'].str.replace(',', '.'), errors='coerce')
df_glucose['Timestamp'] = pd.to_datetime(df_glucose['Tijdstempel apparaat'], dayfirst=True, errors='coerce')
df_glucose = df_glucose[['Timestamp', 'Glucose']].dropna()
df_glucose = df_glucose.set_index('Timestamp').sort_index()

df_glucose = df_glucose.groupby(df_glucose.index).mean().dropna()
df_glucose.to_csv('UoM2310.csv')
df_glucose

                     Glucose
Timestamp
2023-07-04 06:55:43      7.9
2023-07-04 07:00:43      7.9
2023-07-04 07:05:43      7.7
2023-07-04 07:10:43      7.8
2023-07-04 07:15:43      8.0
...                      ...
2024-04-12 14:34:31      7.3
2024-04-12 14:39:31      7.3
2024-04-12 14:44:31      7.3
2024-04-12 14:49:31      7.2
2024-04-12 14:54:31      7.0

[79877 rows x 1 columns]

In [8]:
duplicates = df_glucose[df_glucose.index.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Glucose]
Index: []