In [1]:
import pandas as pd
df_glucose = pd.read_csv('BG.csv', low_memory=False, skiprows=2)
df_glucose['Glucose'] = df_glucose['Scan Glucose mmol/L'].combine_first(df_glucose['Historic Glucose mmol/L'])
df_glucose['Glucose'] = pd.to_numeric(df_glucose['Glucose'], errors='coerce')
df_glucose['Timestamp'] = pd.to_datetime(df_glucose['Device Timestamp'], dayfirst=True, errors='coerce')
df_glucose = df_glucose[['Timestamp', 'Glucose']].dropna()
df_glucose = df_glucose.set_index('Timestamp').sort_index()
df_glucose

                     Glucose
Timestamp
2023-06-11 19:19:00     11.2
2023-06-11 19:21:00     10.7
2023-06-11 19:36:00     10.7
2023-06-11 19:51:00     10.8
2023-06-11 20:06:00     11.2
...                      ...
2024-02-05 08:17:00     10.8
2024-02-05 08:32:00     11.4
2024-02-05 08:47:00     13.9
2024-02-05 09:02:00     14.4
2024-02-05 09:25:00     12.3

[31922 rows x 1 columns]

In [2]:
duplicates = df_glucose[df_glucose.index.duplicated(keep=False)]
print(duplicates)

                     Glucose
Timestamp
2023-06-12 09:26:00      8.2
2023-06-12 09:26:00      9.3
2023-06-12 21:17:00      5.8
2023-06-12 21:17:00      5.8
2023-06-13 18:12:00     13.1
...                      ...
2024-02-04 09:56:00     17.3
2024-02-04 17:41:00      9.0
2024-02-04 17:41:00      8.6
2024-02-04 19:42:00      4.7
2024-02-04 19:42:00      5.3

[1582 rows x 1 columns]